.chatContainer{
  position: relative;
  grid-column: 3 / -1;
  grid-row: 1 / -1;
  width: 18rem;
  height: auto;
  min-height: 100%;
  max-height: 85vh;
  display: grid;
  grid-template-rows: 3.5rem 1fr 5rem;
  justify-items: stretch;
  background-color: #EDF2F9;
  border-radius: 10px;
  transition: width 1s ease;
}
.chatContainer .react-emoji{
  margin-left: 10px;
  width: auto;
  max-width: 90%;
  height: auto;
  
}
.chatContainer .react-input-emoji--container{
  box-shadow: -10px 0 10px rgba(46, 56, 72, 0.055);
  border-radius: 5px 0 0 5px !important;
}
.react-input-emoji--button{
  box-shadow: 10px 0 10px rgba(46, 56, 72, 0.055);
  position: relative;
  left: -5px;
  background-color: #fff !important;
  padding: 7px 10px !important;
  border-radius: 0 5px 5px 0;
}
.react-input-emoji--button > svg{
  fill: #00A0E9;
  color: #00A0E9;
}
.chatContainer > .msgHeader{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(2, 25, 36, 0.1);
}
.chatContainer > .msgHeader > h2{
  color: rgba(2, 25, 36, 0.9);
  font-size: 16px;
  margin-left: 20px;
  font-weight: 600;
}
.chatContainer > .msgHeader > .rmIcon{
  color: var(--primary-color);
  font-size: 18px;
  margin-right: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(46, 56, 72, 0.1);
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 10px;
  padding: 4px;
  font-weight: 600;
}
.chatContainer > .msgContainer{
  position: relative;
  overflow-y: auto;
  width: 85%;
  height: 100%;
  margin: auto auto;
}
.chatContainer > .msgContainer .msg{
  background-color:rgba(0, 93, 136, 0.1);
  color: #333;
  font-weight: 400;
  width: fit-content;
  padding: 0.6rem 0.8rem;
  font-size: 0.8rem;
  border-radius: 1rem 1rem 0rem 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 10rem;
  margin-top: 10px;
}
.chatContainer > .msgContainer .msg.self{
  color: #fff;
  background-color:#00A0E9;
  margin-left: auto;
  position: relative;
  left: -10px;
}
.chatContainer > .msgContainer .msg.sender{
  font-size: 12px;
  color: #555;
}
.chatContainer > .msgContainer span{
  font-size: 10px;
}
.chatContainer > .msgContainer .msg.bot{
  margin-left:  auto;
  margin-right:  auto;
  background: rgba(237, 69, 94, 0.041);
}
.chatContainer > .msgContainer .msg.bot + span{
  position: relative;
  left: 25%;
}

@media only screen and (max-width: 600px){
  .chatContainer{
    position: absolute !important;
    right: 10%;
    bottom: 10%;
    width: 100vw;
    height: 5rem !important;
    -webkit-mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
    mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
    z-index: 999;
    background-color: rgba(1, 13, 19, 0.2);
  }
  .chatContainer .msgContainer{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
  }
  .chatContainer > .msgContainer .msg{
    background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%) !important; 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: #fafafa;
    text-align: right;
  }
  .chatContainer > .msgContainer .msg.self{
    background-image: none !important;
    background-color: rgba(0, 159, 233, 0.1);
    left: 0;
  }
  .chatContainer > .msgContainer .msg.sender{
    background-color: rgba(1, 13, 19, 0.1);
    left: 100%;
  };
  .chatContainer > .msgContainer .msg.bot{
    color: #f1f1f1
  }
  .chatContainer > .msgContainer span{
    color: #eee;
    left: 0;
    text-align: right;
  }
  .react-input-emoji--container{
    background-color: transparent;
    border: 1px solid #eee;
  }
  .chatContainer .react-input-emoji--container{
    border-radius: 40px !important;
  }
  .react-input-emoji--button{
    background-color: transparent !important;
  }
  .react-input-emoji--button > svg{
    fill: #eee !important;

  }
}