
.container{
  position: absolute;
  width: 97%;
  height: 95vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  grid-template-rows: 4rem 1fr 4rem;
  grid-template-columns: 15rem 1fr auto;
  grid-gap: 12px;
  overflow-x: hidden;
}