.streamsContainer {
  width: 90%;
  height: 90vh;
  margin: auto auto;
}
.header {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
.header h2 {
  font-size: 28px;
  color: #333;
}
.streams {
  border: 1px solid #eee;
  margin-top: 40px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  grid-gap: 10px;
}
.stream > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
