.frameContainer{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: grid;
  overflow: hidden;
}
.frameContainer .frame{
  width: 100%;
  height: 100%;
  background-color: #EDF2F9;
  display: grid;
  place-items: center;
}
.frameContainer .frame .frameIcon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 140px;
  color: #00A0E9;
  opacity: 0.1;
}
.frameContainer .frame div{
  width: 100%;
  height: 100%;
}
.frameContainer .frame div video{
  width: 100%;
  height: 100%;
}
