@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
  --primary-color: #00A0E9;
  --white: #edeffb;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb{
  border-radius: 20px;
}
body{
  width: 100%;
  height: auto;
  max-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* overflow: hidden; */
}
p{
  font-size: 15px;
}